<form class="container" novalidate="" action="/signup" method="POST" id="myForm">
    <div class="form-group">
        <label class="h4 form-control-label text-danger" for="inputSuccess1">Username</label>
        <input type="text" class="form-control" name="username" id="inputSuccess1" required>
        <div class="valid-feedback">Success! You've done it.</div>
        <div class="invalid-feedback">No, you missed this one.</div>
    </div>
     <div class="form-group">
        <label class="h4 form-control-label text-danger" for="inputSuccess2">Password</label>
        <input type="password" placeholder="password" class="form-control" name="password" id="inputSuccess2" required>
        <div class="valid-feedback">Password looks good</div>
        <div class="invalid-feedback">Please enter a correct password. This field is required.</div>
    </div>

     <hr class="my-4">
            {{#if message}}
            <div class="error-message">{{ message }}</div>
            {{/if}}
   
    <div>
    <button type="submit" class="btn btn-secondary" id="btnSubmit">Sign In!</button>
    </div>
</form>

<script src="/javascripts/validation-signup-form.js" ></script>

<script>
     function formSubmit() {
    document.getElementById("myForm").submit();
     }

</script>


